<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :title %>
</head>
<body>

<%= yield %>

</body>
</html>
